html body {
    background-image: url(../images/tiny-squares.png);
}

.card-header {
    background-image: url(../images/background.gif);
    background-size: 75%;
    background-position: bottom;
    height: 175px;
    color: ghostwhite;
    font-family: 'Monoton', cursive;
}

.jumbotron {
    background-color: rgba(52,84,145,.9);

}

.j-title {
    color: ghostwhite;
}

button {
    font-weight: bolder;
    color: ghostwhite;
}

#submit-btn {
    background-color: white !important;
    color: darkslategray;
    font-weight: bolder;
}

.rating {
    padding: 5px;
    font-family: 'Muli', sans-serif;
    color: ghostwhite;
    font-weight: bolder;
}